<!DOCTYPE html>
<html>
<head>
  <title>portfolio</title>
  <style>
    body {
      font-family: "Avenir";
      margin: 6% 3%;
    }
    .columns {
      display: grid;
      grid-template-columns: 74% 2% 24%;
    }
    .name {
      text-align: right;
      margin: 0px;
    }
    .title {
      margin: 0px;
    }
    .text {
      text-align: justify;
      margin: 0px;
    }
    .images {
      display: grid;
      grid-template-columns: 32% 2% 32% 2% 32%;
    }
    .image {
      width: 100%;
    }
  </style>
</head>

<body>
  <div class="columns">
    <div>
      <div class="images">
        <div>
          <img src="https://i.postimg.cc/nLJ24gkp/one.png" class="image">
          <img src="https://i.postimg.cc/Jh5qPx6J/4.png" class="image">
          <img src="https://i.postimg.cc/4xtwhspW/7.png" class="image">
        </div>
        <br/>
        <div>
          <img src="https://i.postimg.cc/Gh4Xdktw/2.png" class="image">
          <img src="https://i.postimg.cc/CL9m1znZ/5.png" class="image">
          <img src="https://i.postimg.cc/XqpkNbVc/8.png" class="image">
        </div>
        <br/>
        <div>
          <img src="https://i.postimg.cc/zBDkMh6Q/3.png" class="image">
          <img src="https://i.postimg.cc/MTsY8T8p/6.png" class="image">
        </div>
      </div>
      <br/>
      <h1 class="title">SECTION ONE</h1>
    </div>

    <br/>

    <div>
      <h1 class="name">SAM SULLIVAN</h1>
      <br/>
      <p class="text">
        We live in a data-driven world: people search through data to find
        insights to inform strategy, marketing, operations, and a plethora
        of other categories. There are a ton of businesses that use large,
        relational databases, which makes a basic understanding of SQL a
        great employable skill not only for data scientists, but for
        almost everyone.
      </p>
      <br/>
      <p class="text">
        In this course, you’ll learn how to communicate with relational
        databases through SQL. You’ll learn—and practice with 4 projects—how
        to manipulate data and build queries that communicate with
        more than one table.
      </p>
    </div>
  </div>
</body>
</html>
