body {
  font-family: "Avenir";
  margin: 6% 20%;
}
.main {
  display: grid;
  grid-template-columns: 48% 4% 48%;
}
.home-link {
  float:left;
  transition: 0.2s ease;
  margin: 0px;
  color: #808080;
  text-decoration: none;

}
.home-link:hover {
  transition: 0.2s ease;
  color: black;
  text-decoration: underline;
}
.text {
  text-align: justify;
}
.cover {
  width: 100%;
}
