body {
  font-family: "Avenir";
  margin: 6% 40%;
}
.image {
  height: 100%;
}
.home-link {
  float: left;
  transition: 0.2s ease;
  margin: 0px;
  color: #808080;
  text-decoration: none;
}
.home-link:hover {
  transition: 0.2s ease;
  color: black;
  text-decoration: underline;
}
.title {
  margin: 0px;
  float: right;
}
